.header{
    font-size: 12px;
    font-weight: bold;

    #navItem{
        &:hover{
            color: $link-hover;
        }
    }
}

.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown{
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

.logoPC{
    width: 240px;
    margin-left: -10px;
    margin-right: 40px;
}

#button {
    padding: $padding-button;
    border: 2px solid white;
}

.downloadDesc {
    background-color: black;
    height: 85vh;
    padding-top: 240px;

    button {
        border: 2px solid white;
        margin-right: 10px;
    }
}

.myEmail {
    text-decoration: none;
    color: $copy-color;
    &:hover {
        color: $link-hover;
    }
}

.footer{
    background-color: black;
    height: 15vh;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: $link-hover;
        }
    }
}

// Media Query
@media (max-width:500px){
    .downloadDesc {
        button {
        margin: 10px 0px;
        }
    }
}

@media (max-width: 405px){
    .logoPC{
        width: 180px;
        margin-top: 15px;
    }

    .footer{
        font-size: 10px;
    }
}



@media (max-width: 350px){
    .logoPC{
        width: 150px;
        margin-top: 15px;
    }
}